<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="..//css/style.css" />
  </head>
  <body>
    <div class="main min-h-screen bg-zinc-900 p-10 text-white">
      <a class="inline-block mb-5 text-blue-500 px-3 py-2" href="/">Go Back</a>
      <h1 class="text-4xl font-bold mb-4 "> <%= filename %> </h1>
      <p>
        <%= filedata %>
      </p>
    </div>
  </body>
</html>
